<nav class="teal" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Quick VPN</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/profit">Make Money</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/profit">Make Money</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
